beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
future==0.16.0
idna==2.6
Mako==1.2.2
MarkupSafe==1.0
pydub==0.20.0
pyTelegramBotAPI==3.2.0
python-telegram-bot==7.0.1
requests==2.7.0
six==1.10.0
telebot==0.0.3
telegram==0.0.1
urllib3==1.22
